@font-face {
    font-family: "Poppins";
    src: url(Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "sidebar header header header header header header"
    "sidebar main main main main main main ";
    height: 100vh;
}

.container>* {
    padding-top: 1em;
}

#sidebar {
    display: grid;
    background-color: #3f6212;
    font-family: 'Poppins', 'Times New Roman', sans-serif;
    grid-area: sidebar;
    color: white;
    row-gap: 1.3em;
    font-size: 1.4em;
    align-items: center;
    grid-auto-rows: minmax(min-content, max-content);
    padding-left: 1em;
}

#sidebar img {
    max-height: 1.4em;
}

#top {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#sidebtns {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 1em;
    align-items: center;
}

#sidebtns1, #sidebtns2 {
    display: grid;
    grid-auto-rows: 2.5em;
}

#sidebtns1>div, #sidebtns2>div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
}



#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    background-color: #f9a8d4;
    row-gap: 0em;
    grid-template-areas: 
    "searchbar searchbar searchbar topright topright"
    "lowleft lowleft lowleft buttons buttons";
}

#header>div {
padding-left: 3em;
}

#searchbar {
    grid-template-columns: 1fr 5fr;
    display: grid;
    grid-area: searchbar;
    align-items: center;
}

#searchbar>* {
    height: 3em;
}

#topright {
    display: flex;
    justify-content: space-evenly;
    grid-area: topright;
    align-items: center;
}

#topright>* {
    height: 2.3em;
    font-size: 2em;
}

#lowleft {
    display: flex;
    grid-area: lowleft;
    padding-bottom: 1em;
}

#lowleft>img {
    grid-area: img;
    max-height: 6em;
    max-width: 5em;
}

#h3 {
    font-size: 2em;
}

input {
    background-color: white;
    border-radius: 1em;
    border-style: none;
    color: white;
    font-family: "Poppins";
    padding: 0 10px;
    height: 0%;
    width: 80%;
}

input:focus {
    border: 0.3em solid #92400e;
}

#buttons {
    grid-column: 5/8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: buttons;
    gap: 0.5em;
}

.button {
    height: 4em;
    width: 8em;
    border-radius: 9%;
    outline: none;
    background-color: #075985;
    font-family: "Poppins";
    color: white;
    font-size: 1.2em;
}

.button:hover {
    outline: none;
    background-color: #9333ea;
    color: #6ee7b7;
}

.button:active {
    background-color: #fde68a;
    color: #365314;
}

#main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #facc15;
    gap: 1em;
    padding-left: 1em;

}

#projectdesc {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-area: 1/1/3/2;
    align-self: stretch;
    gap: 2.5em;
    padding-top: 3em;
    padding-right: 1em;
    
}

#projectdesc>div {
    background-color: white;
    border-radius: 1em;
    height: 11em;
    width: 31em;
    padding: 1em 1em;
}

#projects>p, #announcements>p, #trending>p {
    font-size: 1.5em;
}

.announceall {
    display: grid;
    gap: 1em;
    background-color: white;
    border-radius: 1em;
    width: 20em;
    padding: 1em;
}

.desc {
    font-size: 0.8em;
}

.announceborder {
    border-bottom: 0.1em solid grey;
}


.trendingall {
    display: grid;
    background-color: white;
    border-radius: 1em;
    width: 20em;
    padding: 1em;
    
}
