@font-face {
    font-family: "Poppins";
    src: url(Poppins-SemiBold.ttf);
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: "Poppins";
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "sidebar header header header header header header "
    "sidebar main main main main main main ";
}

#sidebar {
    display: grid;
    background-color: #3f6212;
    font-family: 'Poppins', 'Times New Roman', sans-serif;
    grid-area: sidebar;
    color: white;
    gap: 1em;
    font-size: 1.4em;
    align-items: start;
    height: 100vh;
    grid-auto-rows: minmax(min-content, max-content);
}

#sidebar>* {
    height: fit-content;
    display: grid;
    margin-left: 1em;

}

#main {
    grid-area: main;
}

#header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    background-color: #f9a8d4;
}

#header>div {
    margin-left: 3em;
    justify-items: center;
}

input {
    width: 50%;
    background-color: white;
    border-radius: 1em;
    border-style: none;
    color: white;
    font-family: "Poppins";
    padding: 0 10px;
    height: 35%;
}

input:focus {
    border: 0.3em solid #92400e;
}

